:root {
  --ky-search-height: 40px;
  --ky-search-background: var(--ky-color-subtle-bg);
  --ky-search-text-color: var(--ky-color-text-primary);
  --ky-search-placeholder-color: var(--ky-color-text-tertiary);
}
