.ky-popup {
  --ky-popup-panel-bg: var(--ky-color-surface);
  --ky-popup-radius: var(--ky-radius-xl);
  --ky-popup-enter-duration: 300ms;
  --ky-popup-leave-duration: 275ms;
  --ky-popup-enter-easing: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ky-popup-fade-enter-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
}
