.ky-password-input {
  --ky-password-input-height: 52px;
  --ky-password-input-border: var(--ky-color-divider-strong);
  --ky-password-input-focus: var(--ky-color-brand-strong);
  --ky-password-input-gap: var(--ky-space-2);
  --ky-password-input-dot-size: 10px;
}
