@import './token.less';

.ky-highlight {
  font-size: inherit;
  line-height: inherit;
  color: var(--ky-highlight-color);
  overflow-wrap: anywhere;
}

.ky-highlight__mark {
  padding: var(--ky-highlight-mark-padding);
  color: var(--ky-highlight-mark-color);
  background: var(--ky-highlight-mark-background);
  border-radius: var(--ky-highlight-mark-radius);
}
