:root {
  --ky-grid-item-bg: var(--ky-color-surface);
  --ky-grid-item-active-bg: var(--ky-color-subtle-bg);
  --ky-grid-item-padding: var(--ky-space-4) var(--ky-space-2);
  --ky-grid-item-min-height: 96px;
  --ky-grid-item-text-color: var(--ky-color-text-primary);
  --ky-grid-item-text-font-size: var(--ky-font-size-assist);
  --ky-grid-item-gap: var(--ky-space-2);
}
