:root {
  --ky-transition-enter-duration: 300ms;
  --ky-transition-leave-duration: 275ms;
  --ky-transition-fly-enter-duration: 600ms;
  --ky-transition-bounce-leave-duration: 300ms;
  --ky-transition-enter-easing: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ky-transition-slide-enter-easing: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ky-transition-leave-easing: linear;
  --ky-transition-slide-leave-easing: ease-in;
  --ky-transition-fade-distance: 20%;
  --ky-transition-post-distance: 48px;
  --ky-transition-zoom-scale: 0.75;
  --ky-transition-punch-scale: 1.35;
}
